.contact{
    width: 100%;
    height: 100vh
}
.headline{
    text-align: center;
}

.contact-container{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-left{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

.left-headliner{
    display: inline-flex;
    flex-direction: row;
}

.sect-one{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #C9D360;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
}

.contact-names-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    text-align: center;
    height: 300px;
}

.contact-buttons{
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 25px;
    border: 2px solid #8d8d8d
}

.contact-right{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 2px solid #9C9C9C;
    width: 500px;
}

.right-headliner{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
}

.sect-two{
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #C9D360;
    padding: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: white;
}

.form-row-one{
    display: flex;
    justify-content: space-evenly;
}

.email-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 300px;
}

.input-field{
    border-radius: 25px;
    border: 2px solid #9C9C9C;
    background-color: #F1F1F1;
    margin-left: 50px;
    margin-right: 50px;
}

.input-field-body{
    height: 100px;
    border-radius: 25px;
    border: 2px solid #9C9C9C;
    background-color: #F1F1F1;
    margin-left: 50px;
    margin-right: 50px;
}

.send-button{
    width: 70px;
    border-radius: 25px;
    border: 2px solid white;
    background-color: #C9D360;
}

.submit-row{
    display: flex;
    margin-right: 50px;
    justify-content: flex-end;
}